/**
   Docs
*/

.docs-section{
    min-height: 65vh;
    @include mq(medium){
        min-height: 80vh;
    }
}
.search-docs{
    background-color: #f6f6f6;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    border-radius: 34px;
    position: relative;
    background: url(/images/svg/search.svg) no-repeat 92% 50%;
    background-size: 18px;
    padding-left: 30px;
    border: 1px solid #2b2a2a !important;
    @include mq(medium)
    {
        font-size: 1.5rem;
        background: url(/images/svg/search.svg) no-repeat 96% 50%;
    }
}
.docs-section-title{
    background-color: #f6f6f6;
    color: #4643ad;
    padding: 1rem 1.5rem;
    font-size: 20px;
    border-radius: 60px;
    margin-bottom: 2rem;
    @include mq(medium){
        padding: 1rem 1rem;
        font-size: 35px;
    }
}
.btn-secondary.dropdown-toggle {
    color: #4c657f;
    background-color: #f6f6f6;
    padding: 1.5rem;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    border:none;
    &:focus{
        background-color: darken($color: #f6f6f6, $amount: 10%);
    }
    @include mq(medium){
        margin-bottom: 0;
    }

}

.docs-dropdown{
    list-style-type:circle;
    background-color:#e2f5ff;
    color: #4c657f;
    border-color: #4c657f;
    padding: 2rem;
    .dropdown-item{
        white-space: normal;
    }


}

.show>.btn-secondary.dropdown-toggle {
    color: #4c657f;
    background-color: #f6f6f6;
    padding: 1.5rem;
    font-size: 1rem;
    border:none;
    &:focus{
        background-color: darken($color: #f6f6f6, $amount: 10%);
    }
}

.panel{
    list-style-type: none;
    background-color:#e2f5ff;
    color: #4c657f;
    border: 1px solid  #4c657f;
    padding: 2rem 2rem;
    border-radius: 20px;
    .panel-item{
        white-space: normal;
        font-size: 15px;
        vertical-align:middle;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @include mq(medium){
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
}
.docs-img{
    height: auto;
    width: 100%;
}

.docs-info-container{
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
