.forgot {
    background-color: transparent;
    padding: 12px;
    color: white;

    .ol {
        color: white;
    }
}

.padding-bottom-3x {
    padding-bottom: 72px !important
}

.card-footer {
    background-color: transparent;
}


.forgot-container {
    .card {
        background: transparent;
        border: none;
        color: white;

        .card-body {
            padding: 0 20px;

            .form-group {
                width: 100%;
            }
        }
    }

    .btn {
        font-size: 13px
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #76b7e9;
    outline: 0;
    box-shadow: 0 0 0 0px #28a745
}
