.form-docs {
    border: 1px solid #4B647E;
    border-radius: 20px;
    background-color: #E2F5FF;
    padding: 10px 10px;

    li {
        color: black;
    }

    ul {
        margin-bottom: 0;
    }

}

.docs-info-container {
    .dropdown-toggle {
        height: 20px;
    }

}
