.dropdown-toggle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    width: 100%;
}

.dashboard-dropdown{
    .dropdown-menu{
        min-width: 10.6rem;
    }
}

