.itinerary{

    @include mq(large){
        position: absolute;
        top:0;
        right: 0;
        padding:30px;
        width: 35%;
    }
    padding:20px;
    background: #f8f8f8;


    .list{
        max-height: 100px;
        overflow-y: scroll;
        list-style-type: none;
        padding:0.2rem;
    }

}
