/*
 * Navbar
*/
.nav-item{
    display: flex;
    align-items: center;
    margin-right: 10px;
    button{
        background: transparent;
        border:none;
        padding:0;
        color: rgb(61, 55, 241);
        @include mq(large){
            color: white;
        }
    }
}

.nav-link{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .active > .nav-link{
    color: white;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(0, 0, 0, 0.2);
}

.navbar-nav{
    width:60%;
    @include mq(xxlarge){
        width:75%;
    }
}

.show > .navbar-nav > .nav-item > .nav-link{
    color:rgb(61, 55, 241);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.navbar-brand{
    width: 75%;
    @include mq(medium){
        width: 20%;
    }
    img{
        width: 70%;
        @include mq(medium){
            width: 100%;
        }
    }
}

.logo-image-size{
    width: inherit;
    height: 50px;
    @include mq(large){
    height: 100px;
    }
}
.nav-image-size{
    width: 150px;
    height: 30px;
    @include mq(large){
    height: 80px;
    width: inherit;
    }
}

.side-navbar{
    background:linear-gradient( #fefeff, #6f7dfb);
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
    display: none;
    padding-right: 0;
  @include mq(xlarge){
      display: flex;
      position: fixed;
  }


}
